@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Baumans|Ribeye+Marrow);
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
	{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; background-color: #cfc; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }




/** Setup & Helpers **/
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { margin: 0 auto; }
img.alignleft { margin-right: 8px; margin-bottom: 8px; }
img.alignright { margin-left: 8px; margin-bottom: 8px; }

.clearleft { clear: left; }
.clearright { clear: right; }
.clearcenter { clear: both; }

.message { width: 80%; padding: 8px; margin: 8px auto; border: 2px solid; color: #000; }
.message.failure { border-color: #c00; background-color: #fcc; }
.message.warning { border-color: gold; background-color: #ff9; }
.message.success { border-color: #060; background-color: #cfc; }
.message.new { border-color: #009; background-color: #e1e3fd; }
.message.note { border-color: #ccc; background-color: #eee; }

#openbddebug { background: #fff; }




/** Layout **/
/** position, top, left, right, bottom, z-index, float, display, width, height, padding, margin, border, outline, list-style (type, position, image), overflow, vertical-align **/
a:focus { outline: 2px dotted #000099; }
a img { border: none; }
abbr { cursor: pointer; }

sup { position: relative; top: -0.5em; }
sub { position: relative; top: 0.5em; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 0.5em; }

.button { margin-top: 1em; }
.button a { display: inline-block; height: 2em; padding: 0 0.4em; border: 1px solid #438a22; border-radius: 0.25em; }
.button a:focus { outline: 2px dotted #438a22; }

#popup { position: absolute; top: 2em; right: 15%; bottom: 2em; left: 15%; z-index: 9999; padding: 1em; border: 1px solid silver; overflow: auto; }
#popup p > img { vertical-align: middle; }

#popup ol { padding: 0 0 1.0em 20px; list-style-type: decimal; }
#popup ol ol, #popup ol ul { padding-bottom: 0; }
#popup ul { padding: 0 0 1.0em 20px; list-style-type: disc; }
#popup ul ol, #popup ul ul { padding-bottom: 0; }
#popup ul>li>ul { list-style-type: circle; }
#popup ul>li>ul ul { list-style-type: square; }

#popup p, #memories p { padding-bottom: 1.0em; }
#popup blockquote, #memories blockquote { width: 70%; padding-bottom: 1.0em; margin: 0 auto; }

header { width: 960px; height: 70px; margin: 0 auto; }
header h1 { padding: 0; }

nav { width: 956px; height: 30px; margin: 0 auto; border: 2px solid #cdccd3; border-top: none; border-bottom: none; }
nav a { display: inline-block; margin: 0 1em; }

footer { width: 960px; height: 60px; margin: 0 auto; border-top: 2px solid #cdccd3; }
footer > div { width: 150px; }
footer span { display: block; line-height: 2; }
footer .youtube { display: inline-block; width: 30px; height: 30px; margin-right: 1em; }
footer .flickr { display: inline-block; width: 30px; height: 30px; }

#content { position: relative; z-index: 1; width: 960px; margin: 0 auto; padding: 30px 0; }
#content a.ornament { display: block; width: 32px; height: 32px; }
#content a.ornament:focus { outline: 2px dotted #438a22; }

.memories > ul > li { position: absolute; top: 0; left: 0; z-index: 10; width: 32px; height: 32px; overflow: hidden; }
.memories > ul > li * { visibility: hidden; }
.memories > ul > li img { display: block; }
.memories > ul > li:hover { z-index: 100; width: auto; height: auto; padding: 1em; border: 1px solid silver; }
.memories > ul > li:hover * { visibility: visible; }

#content.memories > ul > li a.ornament { visibility: visible; }
#content.memories > ul > li:hover a.ornament { display: none; }

.rooms > ul { position: absolute; top: 0; left: 50%; z-index: 10; width: 726px; margin: 172px 0 0 -363px; }
.rooms > ul li { display: inline-block; width: 45%; margin: 0 0.25em 142px 0.25em; }
.rooms > ul a { display: block; width: 100%; height: 100%; padding: 1em 0; border-radius: 0.5em; }
.rooms > ul a:focus { outline: 2px dotted #433a35; }

#pan { min-height: 450px; padding: 1em 0; }
#pan img { display: block; margin: 0 auto; border: 3px solid #fff; }

/** Homepage **/
#homepage1 { position: absolute; top: 300px; left: 450px; z-index: 10; width: 32px; height: 32px; overflow: hidden; }

/** Kitchen **/
#kitchen1 { top: 210px; left: 220px; }
#kitchen1:hover { top: 100px; }
#kitchen2 { top: 340px; left: 810px; }
#kitchen2:hover { top: 220px; left: 580px; }
#kitchen3 { top: 440px; left: 850px; }
#kitchen3:hover { top: 310px; left: 620px; }
#kitchen4 { top: 450px; left: 40px; }
#kitchen4:hover { top: 280px; }
#kitchen5 { top: 440px; left: 220px; }
#kitchen5:hover { top: 280px; }
#kitchen6 { top: 420px; left: 140px; }
#kitchen6:hover { top: 200px; }
#kitchen7 { top: 410px; left: 900px; }
#kitchen7:hover { top: 180px; left: 450px; }
#kitchen8 { top: 450px; left: 360px; }
#kitchen8:hover { top: 200px; }

/** Living Room **/
#living1 { top: 460px; left: 680px; }
#living1:hover { top: 230px; left: 450px; }
#living2 { top: 370px; left: 340px; }
#living2:hover { top: 200px; }
#living3 { top: 440px; left: 50px; }
#living3:hover { top: 230px; }
#living4 { top: 450px; left: 510px; }
#living4:hover { top: 270px; }
#living5 { top: 410px; left: 580px; }
#living5:hover { top: 170px; left: 470px; }
#living6 { top: 410px; left: 220px; }
#living6:hover { top: 200px; }
#living7 { top: 390px; left: 490px; }
#living7:hover { top: 210px; }
#living8 { top: 460px; left: 140px; }
#living8:hover { top: 200px; }




/** Colors & Typography **/
/** color, background (color, image, repeat, attachment, position), font (style, variant, weight, size, family), line-height, text (indent, align, decoration, transform), letter-spacing, word-spacing, white-space, cursor **/
body { color: #3a3a3a; background: #c6b1a1; line-height: 1.5; font-family: Georgia, "Times New Roman", serif; }

a:link, a:visited { color: #cdccd3; text-decoration: underline; }
a:hover, a:active { text-decoration: none; }

sup { font-size: 0.8em; }
sub { font-size: 0.8em; }

h1, h2, h3, h4, h5, h6 { color: #790000; font-family: 'Ribeye Marrow'; }
h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

.button { font-family: 'Baumans', sans-serif; text-align: center; }
.button a { color: #fff; background: #438a22; text-decoration: none; line-height: 2; -moz-box-shadow: 0 0 0.5em #ccc; -webkit-box-shadow: 0 0 0.5em #ccc; box-shadow: 0 0 0.5em #ccc; }

#popup { background: white; -moz-box-shadow: 0 0 1em #888; -webkit-box-shadow: 0 0 1em #888; box-shadow: 0 0 1em #888; }

header { background: transparent url('images/header.jpg') no-repeat scroll center bottom; line-height: 70px; text-align: center; }
header h1 { font-family: 'Duru Sans'; font-size: 3em; font-weight: 100; text-transform: uppercase; }
header h1 a:link, header h1 a:visited
	{ color: #790000; }
header h1 em { font-style: normal; font-weight: 900; }

nav { background: #6c676b; line-height: 28px; text-align: center; }
nav a { color: #fff; }
nav a:focus { outline: 2px dotted #fff; }

footer { color: #fff; background: #6c676b; font-family: Arial, sans-serif; font-size: 0.76em; }
footer > div { text-align: center; }
footer .youtube { background: transparent url('images/youtube.jpg') no-repeat scroll 0 0; text-indent: -9999em; }
footer .flickr { background: transparent url('images/flickr.jpg') no-repeat scroll 0 0; text-indent: -9999em; }

#content { background: transparent url('images/ugly-sweater-pattern.png') repeat-y scroll center 0; }

#content a.ornament { background: transparent url('images/ornament.png') no-repeat scroll 0 0; text-indent: -9999em; }

.memories > ul { font-size: 0.8em; }
.memories > ul > li { cursor: pointer; }
.memories > ul > li:hover { background: white; -moz-box-shadow: 0 0 1em #888; -webkit-box-shadow: 0 0 1em #888; box-shadow: 0 0 1em #888; }

.rooms > ul { text-align: center; }
.rooms > ul a { color: #fff; background: #6c676b; background: rgba(108, 103, 107, 0.75); text-decoration: none; }
.rooms > ul a:hover { background: rgba(108, 103, 107, 0.9); }
.rooms > ul a:focus, .rooms > ul a:active
	{ background: #6c676b; }
	
#pan img { -moz-box-shadow: 0 0 1em #000; -webkit-box-shadow: 0 0 1em #000; box-shadow: 0 0 1em #000; }




/** @media **/

/** Print Styles
@media print { }
 **/
 